<!DOCTYPE HTML>
<!--
Template a modified version of Highlights by HTML5 UP
-->
<html>
<head>
	<title>OrbWeaver</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<noscript>
	</noscript>

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>

	<!-- Header -->
	<section id="header" class="main special">
		<header class="major">
			<h1>Orbweaver</h1>
			<p>Your concert planning resource.</p>
		</header>
		<a href="#one" class="goto-next scrolly"></a>
	</section>

	<!-- One -->
	<section id="one" class="main special">
		<div class="container">
			<span class="image fit primary"><%= image_tag('pic01.jpg') %></span>
			<div class="content">
				<header class="major">
					<h2>How</h2>
				</header>
				<p>OrbWeaver generates a playlist in your Spotify account for concerts that are happening next week. Not only will you be in the fold on current music, you'll never miss a show.</p>
			</div>
			<%= link_to 'Generate Playlist', '/auth/spotify', class: "button special scrolly" %>
			<p>Playlist for <strong><%= "#{7.days.from_now.strftime("%m/%d")}" %></strong> through <strong><%= "#{14.days.from_now.strftime("%m/%d")}" %></strong></p>
			<% if @spotify_user %>
			<a href="#two" class="goto-next scrolly">Next</a>
			<% else %>
			<a href="#three" class="goto-next scrolly">Next</a>
			<% end %>
		</div>
	</section>

	<!-- Two -->
	<% if @spotify_user %>

	<script type="text/javascript">
	$(function() {
		$(document).scrollTop( $("#two").offset().top );
	});
	</script>

	<section id="two" class="main special">
		<div class="container">
			<span class="image fit primary"><%= image_tag("pic02.jpg") %></span>
			<div class="content">
				<h2>  <%=  %> </h2>
				<header class="major">
					<p><h2>Welcome, <%= @spotify_user.display_name %>!</h2></p>
				</header>
				<p> <%= image_tag(@spotify_user.images[0]["url"]) %></p>
				<p>The Orbweaver playlist has been added to your spotify account.</p>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</div>
	</section>
<% end %>

	<!-- Three -->
	<section id="three" class="main special">
		<div class="container">
			<div class="content">
				<header class="major">
					<h2>Artists</h2>
					<p>These shows are happening next week!</p>
				</header>
				<% @events_list.map do |event| %>
				<p><%= event["artists"][0]["name"] %></p>
				<p class="venue"><%= event["venue"]["name"] %> </p>
				<p><%= link_to "Info", event["ticket_url"], target: "_blank" %></p>
				<% end %>
			</div>
			<a href="#footer" class="goto-next scrolly">Next</a>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<!-- <header class="major">
			<h2>Get in touch</h2>
		</header> -->
	</div>
		<footer>
			<!-- <ul class="icons">
			<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		</ul>  -->
			<ul class="copyright">
				<li>&copy; Ty Hyten</li><li>Design Based On: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>
	</section>

</body>
</html>
