<!DOCTYPE html>
<html>
<head>
  <title>OrbWeaver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800', :media => "all" %> 
</head>
<body>

<%= yield %>

</body>
</html>
